# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Visual Studio files
*.sdu
*.sdf
*.opensdf
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

#debug files
*.pdb
*.ilk

.\Spelprojekt\Spelprojekt\Debug
.\Spelprojekt\Spelprojekt\Releae
Spelprojekt/Spelprojekt/Debug/Spelprojekt.log
*.sdf
*.v12.suo
*.tlog
*.log
*.lastbuildstate
*.idb